.sidebar {
  width: 300px;
  min-width: 280px;
  background: #f5f5f5;
  overflow-y: auto;
  padding: 15px;
  box-shadow: 8px 0 20px rgba(55, 52, 53, 0.08);
  position: relative;
  z-index: 10;

  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}


.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Main Menu */
.menu-item a,
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  border-radius: 16px;
  color: #373435;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.menu-item a,
.menu-header > div {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 15px;
}

.menu-item i:first-child,
.menu-header i:first-child {
  width: 22px;
  min-width: 22px;
  font-size: 22px;
  color: #4d5566;
}

.menu-item span,
.menu-header span {
  flex: 1;
  text-align: left;
  line-height: 1.4;
}

/* Hover */
.menu-item a:hover,
.menu-header:hover {
  background: rgba(255, 204, 41, 0.12);
}

/* Active Menu */
.active-link {
  background: rgba(255, 204, 41, 0.25);
  color: #9c7500 !important;
  border-radius: 16px;
}

.active-link i {
  color: #d79f00 !important;
}

/* Sub Menu */
.submenu {
  list-style: none;
  padding-left: 44px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.submenu li {
  margin: 0;
}

.submenu a {
  display: block;
  text-align: left;
  padding: 14px 0;
  color: #8b93a2;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease;
  padding-left: 10px;
}

.submenu a:hover {
  color: #44a67e;
  background: #f3f5f9;
  opacity: 0.5;
}

.submenu .active-link {
  background: rgba(255, 204, 41, 0.25);
  color: #9c7500 !important;
  border-radius: 16px;
  font-weight: 600;
  padding: 14px 0;
  padding-left: 10px;
}

/* User Management Header */
.submenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px;
  cursor: pointer;
  color: #373435;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.submenu-header:hover {
  color: #44a67e;
}

.submenu-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.submenu-header i:first-child {
  width: 18px;
  font-size: 16px;
  color: #373435;
}

/* Second level submenu */
.nested-submenu {
  list-style: none;
  margin: 4px 0 8px;
  padding-left: 22px;
}

.nested-submenu li {
  margin: 0;
}

.nested-submenu a {
  display: block;
  padding: 12px 14px;
  color: #8b93a2;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.nested-submenu a:hover {
  background: rgba(255, 204, 41, 0.12);
  color: #373435;
}

.nested-submenu .active-link {
  background: rgba(255, 204, 41, 0.25);
  color: #9c7500 !important;
  border-radius: 12px;
  font-weight: 600;
  padding: 12px 14px;
}

/* Expand/Collapse Arrow */
.fa-chevron-down,
.fa-chevron-right {
  font-size: 12px;
  color: #4d5566;
}